<footer class="footer">
    <div class="footer-div">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-3 col-sm-12 d-flex align-items-center justify-content-center logo-footer">
                    <img src="../../../../webroot/site/src/images/logos/logo.svg" alt="">
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 col-6 d-flex align-items-center justify-content-center">
                    <ul class="links-site">
                        <li>Empresa</li>
                        <li>Cores sólidas</li>
                        <li>Cores metálicas</li>
                        <li>Treinamentos</li>
                        <li>Blog</li>
                        <li>Contato</li>
                    </ul>
                </div>
                <div
                    class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-12 d-flex align-items-center justify-content-center">
                    <ul class="infos">
                        <li><a href=""><img src="../../../../webroot/site/src/images/icones/localizacao.svg" alt=""></a>
                            BR 470, Km222 | Pavilhão 1 - Garibaldina, Garibaldi - RS, 95720-000</li>
                        <li><a href=""><img src="../../../../webroot/site/src/images/icones/telefone.svg" alt=""></a>+55
                            (54) 3698-6555</li>
                        <li><a href=""><img src="../../../../webroot/site/src/images/icones/email.svg"
                                    alt=""></a>contato@dustech.com.br</li>
                    </ul>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-2 col-xs-6 col-6 d-flex align-items-center justify-content-center">
                    <ul class="infos redes">
                        <li><a href=""><img src="../../../../webroot/site/src/images/icones/facebook.svg" alt=""></a>
                        </li>
                        <li><a href=""><img src="../../../../webroot/site/src/images/icones/instagram.svg" alt=""></a>
                        </li>
                        <li><a href=""><img src="../../../../webroot/site/src/images/icones/youtube.svg" alt=""></a>
                        </li>
                        <li><a href=""><img src="../../../../webroot/site/src/images/icones/linkedin.svg" alt=""></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<style>
    @font-face {
        font-family: 'Archivo';
        src: url('../../../../webroot/site/src/fonts/Archivo-VariableFont_wdth\,wght.ttf') format('truetype');
    }
</style>