<section class="section-treinamento">
    <div class="row coluna">
        <div class=" col-md-6 col-sm-6 col-12">
            <img src="../../../../webroot/site/src/images/banners/pistola.png" width="90%" alt="">
        </div>
        <div class="col-md-6 col-sm-6 col-12 text-primary text-consultoria">
            <div class="d-flex justify-content-start div-h2">
                <h2>Treinamento <br><span class="">e Consultoria</span></h2>
            </div>
            <img src="../../../../webroot/site/src/images/banners/in-company-sect3.svg" class="mt-5" alt="">
            <div class="d-flex justify-content-start div-button">
                <button class="btn btn-custom">Saiba Mais</button>
            </div>
        </div>
    </div>
</section>