<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
<section class="banner">
    <swiper-container class="mySwiper" navigation="true">
        <swiper-slide>
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-6 logo1">
                    <img src="../../../../webroot/site/src/images/logos/logo-banner.svg" alt="">
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 d-md-flex logo2">
                    <img src="../../../../webroot/site/src/images/logos/logo-banner.svg" alt="">
                </div>
                <div class="col-lg-2 col-md-3 d-sm-none d-md-flex logo3">
                    <img src="../../../../webroot/site/src/images/logos/logo-banner.svg" alt="">
                </div>
                <div class="col-lg-2 col-md-3 d-sm-none d-md-flex logo4">
                    <img src="../../../../webroot/site/src/images/logos/logo-banner.svg" alt="">
                </div>
                <div class="col-lg-2 d-sm-none d-md-none d-lg-flex logo5">
                    <img src="../../../../webroot/site/src/images/logos/logo-banner.svg" alt="">
                </div>
                <div class="col-lg-2 d-sm-none d-md-none d-lg-flex logo6">
                    <img src="../../../../webroot/site/src/images/logos/logo-banner.svg" alt="">
                </div>
            </div>
        </swiper-slide>
        <swiper-slide>Slide 2</swiper-slide>
        <swiper-slide>Slide 3</swiper-slide>
        <swiper-slide>Slide 4</swiper-slide>
        <swiper-slide>Slide 5</swiper-slide>
        <swiper-slide>Slide 6</swiper-slide>
        <swiper-slide>Slide 7</swiper-slide>
        <swiper-slide>Slide 8</swiper-slide>
        <swiper-slide>Slide 9</swiper-slide>
    </swiper-container>
</section>