<section class="produtos-destaques">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-12 texto">
                <h2>Produtos Destaques</h2>
                <button class="btn btn-custom">Veja Todos</button>
            </div>
            <div class="col-md-10 col-sm-12">
                <div class="swiper mySwiper">

                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-sm-6 slide1 slide-img">
                                        <div class="cor">
                                            <span>Cor Sólida</span>
                                        </div>
                                        <img src="../../../../webroot/site/src/images/banners/card1.svg" alt="">
                                        <div class="span bg-white">
                                            <span>A001</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6 slide2 slide-img">
                                        <div class="cor">
                                            <span>Cor Metálica</span>
                                        </div>
                                        <img src="../../../../webroot/site/src/images/banners/card2.svg" alt="">
                                        <div class="span bg-white">
                                            <span>C1101</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6 slide3 slide-img">
                                        <div class="cor">
                                            <span>Cor Sólida</span>
                                        </div>
                                        <img src="../../../../webroot/site/src/images/banners/card3.svg" alt="">
                                        <div class="span bg-white">
                                            <span>A1000</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 slide4 slide-img">
                                        <div class="cor">
                                            <span>Cor Metálica</span>
                                        </div>
                                        <img src="../../../../webroot/site/src/images/banners/card4.svg" alt="">
                                        <div class="span bg-white">
                                            <span>B400</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 slide5 slide-img">
                                        <div class="cor">
                                            <span>Cor Metálica</span>
                                        </div>
                                        <img src="../../../../webroot/site/src/images/banners/card4.svg" alt="">
                                        <div class="span bg-white">
                                            <span>B400</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-sm-6 slide1 slide-img">
                                        <div class="cor">
                                            <span>Cor Sólida</span>
                                        </div>
                                        <img src="../../../../webroot/site/src/images/banners/card1.svg" alt="">
                                        <div class="span bg-white">
                                            <span>A001</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6 slide2 slide-img">
                                        <div class="cor">
                                            <span>Cor Metálica</span>
                                        </div>
                                        <img src="../../../../webroot/site/src/images/banners/card2.svg" alt="">
                                        <div class="span bg-white">
                                            <span>C1101</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6 slide3 slide-img">
                                        <div class="cor">
                                            <span>Cor Sólida</span>
                                        </div>
                                        <img src="../../../../webroot/site/src/images/banners/card3.svg" alt="">
                                        <div class="span bg-white">
                                            <span>A1000</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 slide4 slide-img">
                                        <div class="cor">
                                            <span>Cor Metálica</span>
                                        </div>
                                        <img src="../../../../webroot/site/src/images/banners/card4.svg" alt="">
                                        <div class="span bg-white">
                                            <span>B400</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 slide5 slide-img">
                                        <div class="cor">
                                            <span>Cor Metálica</span>
                                        </div>
                                        <img src="../../../../webroot/site/src/images/banners/card4.svg" alt="">
                                        <div class="span bg-white">
                                            <span>B400</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-sm-6 slide1 slide-img">
                                        <div class="cor">
                                            <span>Cor Sólida</span>
                                        </div>
                                        <img src="../../../../webroot/site/src/images/banners/card1.svg" alt="">
                                        <div class="span bg-white">
                                            <span>A001</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6 slide2 slide-img">
                                        <div class="cor">
                                            <span>Cor Metálica</span>
                                        </div>
                                        <img src="../../../../webroot/site/src/images/banners/card2.svg" alt="">
                                        <div class="span bg-white">
                                            <span>C1101</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6 slide3 slide-img">
                                        <div class="cor">
                                            <span>Cor Sólida</span>
                                        </div>
                                        <img src="../../../../webroot/site/src/images/banners/card3.svg" alt="">
                                        <div class="span bg-white">
                                            <span>A1000</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 slide4 slide-img">
                                        <div class="cor">
                                            <span>Cor Metálica</span>
                                        </div>
                                        <img src="../../../../webroot/site/src/images/banners/card4.svg" alt="">
                                        <div class="span bg-white">
                                            <span>B400</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 slide5 slide-img">
                                        <div class="cor">
                                            <span>Cor Metálica</span>
                                        </div>
                                        <img src="../../../../webroot/site/src/images/banners/card4.svg" alt="">
                                        <div class="span bg-white">
                                            <span>B400</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    var swiper = new Swiper(".mySwiper", {
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>