<section class="catalogo">
    <div class="img-bg">
        <div class=" container">
            <div class="row">
                <div class="col-md-6 d-flex align-items-center div-catalogo">
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-center align-items-center">
                            <h2>Conheça a linha completa <br> de produtos em nosso <span>catálogo</span>
                                <img src="../../../../webroot/site/src/images/banners/catalogo.svg" alt="">
                            </h2>
                        </div>
                        <div class="col-md-12 d-flex">
                            <button class="btn btn-black button1"></button>
                            <button class="btn btn-black button2"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>