<section class="diferenciais">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center text-diferenciais">Diferenciais</div>
            <div class="col-lg-4 col-md-6 icones d-flex justify-content-center">
                <div class="row conteudo">
                    <div class="col-md-12 d-flex justify-content-center icone">
                        <img src="../../../../webroot/site/src/images/icones/icon1.svg" alt="">
                    </div>
                    <div class="col-md-12 titulo">
                        <h2>Estoque pronta entrega</h2>
                    </div>
                    <div class="col-md-12">
                        <p>Produtos da linha premium a pronta entrega</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 icones">
                <div class="row conteudo">
                    <div class="col-md-12 d-flex justify-content-center">
                        <img src="../../../../webroot/site/src/images/icones/icon2.svg" alt="">
                    </div>
                    <div class="col-md-12 titulo">
                        <h2>Desenvolvimento Ágil</h2>
                    </div>
                    <div class="col-md-12">
                        <p>Laboratório moderno e tecnologias na busca de padrões únicos</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 icones">
                <div class="row conteudo">
                    <div class="col-md-12 d-flex justify-content-center">
                        <img src="../../../../webroot/site/src/images/icones/icon3.svg" alt="">
                    </div>
                    <div class="col-md-12 titulo">
                        <h2>Suporte técnico</h2>
                    </div>
                    <div class="col-md-12">
                        <p>Saiba dicas de utilização das tintas,pintura e saiba as novidades sobre</p>
                    </div>
                </div>
            </div>

            <!--baner-->

            <swiper-container class="mySwiper" navigation="true">
                <swiper-slide>
                    <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                        <div class="row conteudo">
                            <div class="col-md-12 d-flex justify-content-center icone">
                                <img src="../../../../webroot/site/src/images/icones/icon1.svg" alt="">
                            </div>
                            <div class="col-md-12 titulo">
                                <h2>Estoque pronta entrega</h2>
                            </div>
                            <div class="col-md-12">
                                <p>Produtos da linha premium a pronta entrega</p>
                            </div>
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="col-lg-4 col-md-6">
                        <div class="row conteudos">
                            <div class="col-md-12 d-flex justify-content-center">
                                <img src="../../../../webroot/site/src/images/icones/icon2.svg" alt="">
                            </div>
                            <div class="col-md-12 titulo">
                                <h2>Desenvolvimento Ágil</h2>
                            </div>
                            <div class="col-md-12">
                                <p>Laboratório moderno e tecnologias na busca de padrões únicos</p>
                            </div>
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="col-lg-4 col-md-6">
                        <div class="row conteudo">
                            <div class="col-md-12 d-flex justify-content-center">
                                <img src="../../../../webroot/site/src/images/icones/icon3.svg" alt="">
                            </div>
                            <div class="col-md-12 titulo">
                                <h2>Suporte técnico</h2>
                            </div>
                            <div class="col-md-12">
                                <p>Saiba dicas de utilização das tintas,pintura e saiba as novidades sobre</p>
                            </div>
                        </div>
                    </div>
                </swiper-slide>
            </swiper-container>
        </div>
    </div>
</section>
<style>

</style>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>

<style>

</style>